.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-login {
  margin-left: auto;
}

form {
  margin-left: auto;
}


input[type=text],
input[type=password] {
  display: flex;
  align-items: baseline;
  width: 20%;
  padding: auto;
  margin: auto;
  margin-right: 2%;
  display: inline-block;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}