.List-container {
  background-color: #282c34;
  margin: auto;
  padding: 10px;
  font-size: 15pt;
  color: white;
}

h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: white;
  background-color: #282c34;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

strong {
  font-weight: bold;
}

ul.food-list {
  padding-left: 20px;
}

ul.food-list li {
  margin: 5px 0;
}
